.main {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.releasesContainer {
    display: flex;
    height: 300px;
}

.mapContainer {
   height: 100%;
   display: flex;
   justify-content: end;
}

.mapwrap {
  width: 80%;
  height: 100%;
}

.map {
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 24px -16px rgba(255, 255, 255, 1);
  border: rgb(53, 53, 53) 1px solid;
}

.countryContainer {
  height: 100%;
  display: flex;
}

.countryGroup {
  overflow: auto;
  width: 60%;
  height: 100%;
}

.groupItem:hover {
  color: white;
  cursor: pointer;
  background-color: #0d6dfdb7;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.countryGroup::-webkit-scrollbar {
	width: 8px;
}

.countryGroup::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #0d6efd);
	border-radius: 6px;
}

.countryGroup::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #105cdc);
}


  @media screen and (max-width: 1200px) {

    .mapwrap {
      width: 90%;
    }

    .countryGroup {
      width: 70%;
    }

  }

  
  @media screen and (max-width: 990px) {

    .mapwrap {
      width: 100%;
    }

  }

  @media screen and (max-width: 767px) {

    .releasesContainer {
      flex-direction: column;
      height: auto;
    }

    .mapContainer {
      height: 230px;
      justify-content: center;
      margin-bottom: 2rem;
    }
   
   .mapwrap {
     width: 80%;
    }

    .countryContainer {
      height: 100%;
      justify-content: center;
    }

    .countryGroup {
      height: 250px;
    }

  }

  @media screen and (max-width: 500px) {
    .mapwrap {
      width: 100%;
     }
  }

  @media screen and (max-width: 430px) {
    .countryGroup {
      width: 90%;
    }
  }

  @media screen and (max-width: 350px) {
    .countryGroup {
      width: 97%;
    }
  }