.main {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.releasesContainer {
    display: flex;
    height: 300px;
    width: 80%;
}

.mapContainer {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: end;
}

.mapwrap {
  width: 100%;
  height: 100%;
}

.map {
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 24px -16px rgba(255, 255, 255, 1);
  border: rgb(53, 53, 53) 1px solid;
}

.countryContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.countryGroup {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.groupItem:hover {
  color: white;
  cursor: pointer;
  background-color: #0d6dfdb7;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.countryGroup::-webkit-scrollbar {
	width: 8px;
}

.countryGroup::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #0d6efd);
	border-radius: 6px;
}

.countryGroup::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #105cdc);
}

.resultContainer {
  gap: 10px;
  display: flex;
  justify-content: center;
}


  @media screen and (max-width: 1200px) {
    .releasesContainer {
      width: 95%;
  }
  }

  @media screen and (max-width: 767px) {
    .releasesContainer {
      flex-direction: column;
      height: 600px;
    }

    .mapContainer {
      height: 50%;
      margin-bottom: 2rem;
    }

    .countryContainer {
      height: 50%;
    }

  }